<!DOCTYPE html>
<html ng-app="bx" ng-cloak>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>NG Bookmarks</title>
    <!-- Angular JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <!-- Angular Animate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
    <!-- Angular Local Storage -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.5.0/angular-local-storage.min.js"></script>
    <!-- Angular Xeditable -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.6.0/js/xeditable.min.js"></script>
    <!-- Xeditable CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.6.0/css/xeditable.min.css">
    <!-- CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"> 
    <!-- Custom Style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- App -->
    <script src="js/app.js"></script>
  </head>
  <body>
  
  <div class="container" ng-controller="BookmarksCtrl" ng-init="getBookmarks()">

    <div class="row">
      <div class="col12">
        <h1 class="text-center"><i class="fa fa-bookmark icon" aria-hidden="true"></i> Angular Bookmarks</h1>
        <p class="text-center">[Feel free to come back later, your bookmarks will still be here!]</p>
      </div>
    </div>    
    

    <div class="row">
      <div class="col-3">
        <form name="bookmarkform" ng-submit="addBookmark()" novalidate>
          <p class="text-center title">Add Bookmark:</p>
          <input name="title" type="text" ng-model="title" required placeholder="Bookmark Title*" ng-required="true">
          <input name="url" type="url" ng-model="url" required placeholder="Site URL*" ng-required="true">
          <small ng-show="bookmarkform.url.$dirty && bookmarkform.url.$invalid">That's not a valid URL!</small>
          <input name="category" type="text" ng-model="category" required placeholder="Category*" ng-required="true">
          <div class="center">
            <button name="submit" ng-disabled="bookmarkform.$invalid" class="add-btn">Add Bookmark</button>
          </div>
        </form>
        <hr id="search-sep">
        <div class="text-center">
          <i class="fa fa-search" aria-hidden="true" style="font-size: 15px;"></i>
          <input type="text" placeholder="Search Bookmarks" ng-model="search" />
        </div>
      </div>
      <div class="col-9">
        <p class="text-center title">Your Bookmarks:</p>
        
        <ul>
          <li ng-repeat="bookmark in bookmarks | filter: search" class="bookmark">
            <span class="category">{{bookmark.category}}</span>
            <a ng-href="{{bookmark.url}}" class="bookmark-title">{{bookmark.title || 'empty'}}</a>
            <i ng-click="removeBookmark($index)" class="pull-right fa fa-trash-o delete" aria-hidden="true"></i>
            <hr class="bookmark-sep">
          </li>
        </ul> 
      </div>
    </div>
    <div class="row">
      <div class="col-12 credit text-center">
        <p id="credit">Made With <i class="fa fa-heart project-link" aria-hidden="true"></i> Using <a href="https://angularjs.org/" class="project-link">Angular</a> By <a href="" class="project-link">Al Mondragon</a>. <br>
        Feel free to check it out on <a href="https://github.com/AlMon/Angular-Bookmarks" id="gh-link">Github!</a>
        </p>
      </div>
    </div>
    
    
  </div>

    
  </body>
</html>
