<!DOCTYPE html>
<html ng-app="bx" ng-cloak>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>NG Bookmarks</title>
    <!-- Angular JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <!-- Angular Animate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
    <!-- Angular Local Storage -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.5.0/angular-local-storage.min.js"></script>
    <!-- Angular Xeditable -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.6.0/js/xeditable.min.js"></script>
    <!-- Xeditable CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.6.0/css/xeditable.min.css">
    <!-- CSS Framework (Disabled Until Needed) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"> 
    <!-- Custom Style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- App -->
    <script src="js/app.js"></script>
  </head>
  <body>
  
  <div class="container" ng-controller="BookmarksCtrl" ng-init="getBookmarks()">
    
    <div class="row">
      <div class="col12">
        <h1 class="text-center">Angular Bookmarks</h1>
        <input type="text" placeholder="Search Bookmarks" ng-model="search" />
      </div>
    </div>    
    

    <div class="row">
      <form name="bookmarkform" ng-submit="addBookmark()" class="col-4">
        <input name="title" type="text" ng-model="title" required>
        <input name="url" type="text" ng-model="url" required>
        <input name="category" type="text" ng-model="category" required>
        <div class="center">
          <button ng-disabled="bookmarkform.$invalid">Add Bookmark</button>
        </div>
      </form>
    </div>
    
    <div class="row" ng-repeat="bookmark in bookmarks | filter: search">
      <div class="col-12">
        <a ng-href="{{bookmark.url}}">{{bookmark.title || 'empty'}}</a>
        <p>{{bookmark.category}}</p>
        <a href="" class="delete pull-right btn btn-clear" ng-click="removeBookmark($index)">Delete</a>
      </div>   
    </div>
    
    
  </div>

    
  </body>
</html>
